<html>

<title>Blocked</title>
<link rel="shortcut icon" type="image/x-icon" href="jlogoicon.ico">
<p class="aligncenter">
    <img src="bigIcon3.png" alt="centered image" />
    <h1><center>This site has been classified as entertainment, therefore it has been blocked by the ZoneIn extension.<center></h1>
    <h3><center>If this was a mistake then you may disable the extension or open a different browser just this once.</center></h3>
</p>



<style>
.aligncenter {
    text-align: center;
}
</style>



</html>
